#score{
  font-size: 40px;
}

#container{
  height: 400px;
  width: 700px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#buttonContainer {
  display: flex;
  justify-content: center;
}

div{
  margin: auto;
  text-align: center;
}

button {
  margin: 10px 20px;
  background-color: rgb(232, 232, 232);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  height: 100vh;
  flex-wrap: wrap;

}

#balls .ball {
  width: 40px;
  margin: 0 15px;
}

.pokemon {
  width: 150px;
  height: auto;
}