#score{
  font-size: 25px;
}

#container{
  height: 250px;
  width: 400px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

div{
  margin: auto;
  text-align: center;
  border: 1px solid red;
}



.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  height: 100vh;
}

